<div class="item">
  <div class="card">
    <div class="card-image">
      <%= link_to food_path(food, show: true) do %>
          <%= image_tag food.image_url, class: 'background-blur' %>
      <% end %>
      <span class="card-title"><%= food.name %></span>
    </div>
    <div class="card-content">
      <p>
        <%= food.description %>
      </p>
    </div>
    <div class="card-action">
      <%= food.price %>
      <%= link_to 'add to orders', orders_add_path(id: food.id),
                  remote: true, method: :post, class: 'right', style: 'margin-right: 0' %>
    </div>
  </div>
</div>