<div class="item">
  <div class="card">
    <div class="card-image">
      <%= link_to food do %>
          <%= image_tag food.image_url, class: 'background-blur' %>
      <% end %>
      <span class="card-title"><%= food.name %></span>
    </div>
    <div class="card-content">
      <p>
        <%= food.description %>
      </p>
    </div>
    <div class="card-action">
      <%= food.price %>
      <a href="#" class="right" style="margin-right: 0">Add to orders</a>
    </div>
  </div>
</div>