<div class="row">
  <div class="col m7">
    <%= render 'food_detail', food: @food %>

    <hr id="hr-divider">
    <h3>Related Food</h3>
    <%= render @related_foods %>
  </div>

  <!-- Reviews -->
  <div class="col m4 offset-m1">
    <h3>Reviews</h3>
    <%= render 'reviews/form' %>
    <hr id="hr-divider">
    <%= render 'reviews/index', reviews: @reviews %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
  });

  $('#average_rating').raty({
    readOnly: true,
    score: <%= @food.average_rating %>
  });
</script>