<div class="col m4 offset-m1">
  <div class="card" style="margin-bottom: 24px">
    <div class="card-content">
      <h5>Personal info</h5>
      Username: <%= @order.username %> <br>
      Phone: <%= @order.phone %> <br>
      Address: <%= @order.address %> <br>
      Email: <%= @order.email %> <br>
    </div>
    <div class="card-action">
      <%= link_to 'home page', root_path %>
    </div>
  </div>
</div>